<a href="https://colab.research.google.com/github/rishi12jn/Predictive-analytics-Lab/blob/main/LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
colors = ("red", "green", "blue", "yellow", "blue")
print("First color:", colors[0])
print("Third color:", colors[2])
try:
  colors[1] = "purple"
except TypeError as e:
  print("Error:", e)
element_to_count = "blue"
count = colors.count(element_to_count)
print(f"Number of occurrences of '{element_to_count}':", count)

First color: red
Third color: blue
Error: 'tuple' object does not support item assignment
Number of occurrences of 'blue': 2

In [5]:
person_info = { "name": "Rishi", "age": 19,
"city": "New Delhi"
}
print("Name:", person_info["name"])
print("Age:", person_info["age"])
print("City:", person_info["city"])
person_info["email"] = "rishi@.com"
print("\nDictionary after adding email:", person_info)
person_info["age"] = 20
print("Dictionary after modifying age:", person_info)
key_to_check = "city"
if key_to_check in person_info:
  print(f"\n'{key_to_check}' exists in the dictionary.")
else:
  print(f"'{key_to_check}' does not exist in the dictionary.")
keys = list(person_info.keys())
values = list(person_info.values())
print("\nKeys:", keys)
print("Values:", values)

Name: Rishi
Age: 19
City: New Delhi

Dictionary after adding email: {'name': 'Rishi', 'age': 19, 'city': 'New Delhi', 'email': 'rishi@.com'}
Dictionary after modifying age: {'name': 'Rishi', 'age': 20, 'city': 'New Delhi', 'email': 'rishi@.com'}

'city' exists in the dictionary.

Keys: ['name', 'age', 'city', 'email']
Values: ['Rishi', 20, 'New Delhi', 'rishi@.com']

In [7]:
my_list = [1, 2, 3, 4, 5]
print("Original list:", my_list)
my_list[2] = 99
print("List after modification:", my_list)
my_tuple = (10, 20, 30, 40, 50)
print("\nOriginal tuple:", my_tuple)
try:
  my_tuple[2] = 99
except TypeError as e:
  print("Error while modifying tuple:", e)

Original list: [1, 2, 3, 4, 5]
List after modification: [1, 2, 99, 4, 5]

Original tuple: (10, 20, 30, 40, 50)
Error while modifying tuple: 'tuple' object does not support item assignment

In [8]:
number = int(input("Enter a number to print its multiplication table: "))
print(f"\nMultiplication table for {number}:")
for i in range(1, 11):
  product = number * i
  print(f"{number} x {i} = {product}")

Enter a number to print its multiplication table: 10

Multiplication table for 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [10]:
def factorial(n):
  result = 1
  if n < 0:
    return "Factorial is not defined for negative numbers"
    for i in range(1, n + 1):
      result *= i
      return result
    number = int(input("Enter a number to find its factorial: "))
    print(f"The factorial of {number} is: {factorial(number)}")

In [11]:
num = int(input("Enter the number:"))
if num > 1:
  for i in range(2, (num//2)+1):
    if (num % i) == 0:
      print(num, "is not a prime number")
      break
  else:
    print(num, "is a prime number")
else:
  print(num, "is not a prime number")

Enter the number:43
43 is a prime number

In [13]:
sum_of_evens = sum(number for number in range(1, 101) if number % 2 == 0)
print("The sum of all even numbers between 1 and 100 is:", sum_of_evens)

The sum of all even numbers between 1 and 100 is: 2550

In [17]:
def calculator():
    while True:
        print("\nSimple Calculator")
        print("1. Add")
        print("2. Subtract")
        print("3. Multiply")
        print("4. Divide")
        print("5. Exit")

        choice = input("Enter choice (1/2/3/4/5): ")

        if choice == '5':
            print("Exiting the calculator. Goodbye!")
            break

        if choice not in ['1', '2', '3', '4']:
            print("Invalid input, please try again.")
            continue

        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input, please enter numeric values.")
            continue

        if choice == '1':
            result = num1 + num2
            print(f"Result: {num1} + {num2} = {result}")
        elif choice == '2':
            result = num1 - num2
            print(f"Result: {num1} - {num2} = {result}")
        elif choice == '3':
            result = num1 * num2
            print(f"Result: {num1} * {num2} = {result}")
        elif choice == '4':
            if num2 == 0:
                print("Error! Division by zero is not allowed.")
            else:
                result = num1 / num2
                print(f"Result: {num1} / {num2} = {result}")

calculator()

Simple Calculator
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice (1/2/3/4/5): 1
Enter first number: 12
Enter second number: 23
Result: 12.0 + 23.0 = 35.0

Simple Calculator
1. Add
2. Subtract
3. Multiply
4. Divide
5. Exit
Enter choice (1/2/3/4/5): 5
Exiting the calculator. Goodbye!